rect.box {
  fill: lightgray;
  stroke: darkslategray;
  stroke-width: 0.01vw;
  shape-rendering: crispEdges;
}

rect.box:hover {
  fill: lightgray;
  stroke: darkslategray;
  stroke-width: 0.1vw;
  shape-rendering: crispEdges;
}
