<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuclear data</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Martel&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <ul>
        <li>
          <a href="chart_of_nucleides.html">Chart of nuclides</a>
        </li>
        <li>
          <a href="hldistribution.html">Half life distribution</a>
        </li>
      </ul>
    </main>
    <footer>Bas Bloemsaat</footer>
  </body>
</html>
